# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
/.idea/.gitignore
/CodeChallenges/.idea/.gitignore
/CodeChallenges/src/problemSolving/.idea/.gitignore
/CodeChallenges/src/problemSolving/out/production/problemSolving/problemSolving/.idea/.gitignore
/java-8/.idea/.gitignore
/java-8/.gitignore
/.idea/CodeChallenges.iml
/CodeChallenges/CodeChallenges.iml
/Core/Core.iml
/HackerRank/HackerRank.iml
/java-8/java-8.iml
/.idea/misc.xml
/CodeChallenges/.idea/misc.xml
/CodeChallenges/src/problemSolving/.idea/misc.xml
/CodeChallenges/src/problemSolving/out/production/problemSolving/problemSolving/.idea/misc.xml
/java-8/.idea/misc.xml
/.idea/modules.xml
/CodeChallenges/.idea/modules.xml
/CodeChallenges/src/problemSolving/.idea/modules.xml
/CodeChallenges/src/problemSolving/out/production/problemSolving/problemSolving/.idea/modules.xml
/java-8/.idea/modules.xml
/CodeChallenges/src/problemSolving/out/production/problemSolving/problemSolving/problemSolving.iml
/CodeChallenges/src/problemSolving/problemSolving.iml
/CodeChallenges/.idea/uiDesigner.xml
/.idea/vcs.xml
/CodeChallenges/.idea/vcs.xml
/CodeChallenges/src/problemSolving/.idea/vcs.xml
/CodeChallenges/src/problemSolving/out/production/problemSolving/problemSolving/.idea/vcs.xml
/java-8/.idea/vcs.xml
